<ion-content>
  <ion-slides pager="true" class="ob-slide">
    <ion-slide id="slide1">
      <div class="inner-slide" padding-horizontal>
        <img src="../../assets/images/logo.png" class="logo" alt="">
        <p><strong>Ein Falschparker auf Deinem Parkplatz?</strong> Erstelle mit Deiner Park+Collect App ein Beweisfoto und reiche es bei uns ein.</p>
        <p>So schützt Du Deinen Stellplatz und erhältst bis zu 100% Auszahlung des Schadensersatzes für jeden erfolgreich geahndeten Parkverstoß auf Deinem Parkplatz.</p>
        <ion-button shape="round" class="obbutton">Direkt zur App</ion-button>
      </div>
    </ion-slide>
    <ion-slide id="slide2">
      <div class="inner-slide" padding-horizontal>
        <img src="../../assets/images/logo.png" class="logo" alt="">
        <p margin-bottom><strong>Unsere Rechtsexperten</strong> nehmen sich Deiner Sache an und werden alles Notwendige gegen den Falschparker in die Wege leiten.</p>
        <br>
        <ion-button shape="round" class="obbutton">Direkt zur App</ion-button>
      </div>
    </ion-slide>
    <ion-slide id="slide3">
      <div class="inner-slide" padding-horizontal>
        <img src="../../assets/images/logo.png" class="logo" alt="">
        <p margin-bottom>Mit dem <strong>P-Button</strong> in der Fußleiste kannst Du Falschparker auf Deinem Parkplatz melden.</p>
        <br>
        <ion-button routerLink="/auth/login" shape="round" class="obbutton">Los geht ́s</ion-button>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
