<ion-header>
    <ion-toolbar color="medium">
      <ion-buttons class="menu" slot="start" routerLink="/tabs/manage" routerDirection="back">
          <ion-icon name="arrow-back"></ion-icon>
      </ion-buttons>
      <ion-title>
        <img src="../../assets/images/manage-parking-head.png" alt=""><br>
        Parklätze verwalten
      </ion-title>
      <ion-buttons class="menu" slot="end" (click)="presentModal()">
          <ion-icon name="menu"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  

<ion-content>
  <div id="map_canvas" style="height: 20vh"></div>

  <ion-item>
    <ion-label>Parkplatz</ion-label>
    <ion-input>Parkplatz 012</ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Straße</ion-label>
    <ion-input>Franzstraße</ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Haus-Nr.</ion-label>
    <ion-input>48</ion-input>
  </ion-item>
  <ion-item>
    <ion-label>PLZ</ion-label>
    <ion-input>52064</ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Ort</ion-label>
    <ion-input>Aachen</ion-input>
  </ion-item>
</ion-content>
<ion-footer>
    <ion-grid>
        <ion-row>
          <ion-col>
            <div>
                <ion-button color="secondary" expand="full" class="img" (click)="getPhoto()">
                  <img src="../../assets/images/images.png" width="30px" alt="">
                </ion-button>
            </div>
          </ion-col>
          <ion-col>
            <div>
              
                <ion-button color="primary" expand="full" class="cam" (click)="clickPhoto()">
                    <img src="../../assets/images/camera.png" width="30px" alt="">
                </ion-button>
            </div>
          </ion-col>
        </ion-row>
        </ion-grid>
  <ion-toolbar>

        <div id="component-id" [style.backgroundImage]="'url(' + img + ')'">
          <ion-button class="saveBtn">Speichern</ion-button>
          <ion-button class="closeBtn">X</ion-button>
        </div>

  </ion-toolbar>
</ion-footer>
