<ion-header>
  <ion-toolbar color="medium">
    <ion-title>
      <img src="../../assets/images/menu.png" alt=""><br>
      Hauptmenü
    </ion-title>
    <ion-buttons class="menu" slot="end" (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button>Home</ion-item>
    <ion-item button>OnBoarding</ion-item>
    <ion-item button>Parkplätze verwalten</ion-item>
    <ion-item button>Parkplatz anlegen</ion-item>
    <ion-item button>Falschparker verwalten</ion-item>
    <ion-item button>Falschparker erfassen</ion-item>
    <ion-item button>Profil bearbeiten</ion-item>
    <ion-item button>Datenschutz</ion-item>
    <ion-item button>Impressum</ion-item>
    <ion-item>&nbsp;</ion-item>
    <ion-item button class="redBtn">Abmelden</ion-item>
  </ion-list>
</ion-content>
