ion-item {
    --padding-start: 0;
    --inner-padding-start: 16px;
    --inner-padding-top: 15px;
    --inner-padding-bottom: 15px;
    font-family: 'Frutiger Bold';
    color: #77787b;
}
.redBtn {
    color: #E12223;
}