
<ion-tabs>
 
  <ion-tab-bar slot="bottom" class="tabbar">
 
    <ion-tab-button (click)="gotoHome()">
      <ion-label>
        <img src="../../assets/images/home-tab-off.png" width="34" alt="">
        Home
      </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="manage">
      <ion-label>
        <img src="../../assets/images/manage-parking-tab-on.png" width="20" alt="">
        Parkplätze
      </ion-label>
    </ion-tab-button>
    <ion-tab-button tab="manage">
        <ion-label>
          
        </ion-label>
      </ion-tab-button>
 
    <ion-tab-button tab="false">
      <ion-label>
        <img src="../../assets/images/false-tab-off.png" width="34" alt="">
        Falschparker
      </ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="profile">
      <ion-label>
        <img src="../../assets/images/profile-tab-off.png" width="20" alt="">
        Profil
      </ion-label>
    </ion-tab-button>
 
  </ion-tab-bar>
 
</ion-tabs>
<div class="logoContainer">
<img src="../../assets/images/logo.png" class="footer-logo" alt="">
</div>
