ion-item {
    --padding-start: 0;
    --background-activated: var(--ion-color-light-shade);
    --highlight-color-focused: var(--ion-color-light-shade);
}

ion-item ion-label {
    min-height: 70px;
    padding-left: 16px;
}
ion-item ion-button {
    --background: transparent;
    color: #77787b;
    --background-activated: transparent;
}
.edit {
    --color-activated: #66af24;
}
.del {
    --color-activated: #E12223;
}
ion-item {
    font-family: 'Frutiger Bold'!important;
    color: #77787b;
}
ion-item h3 {
    font-family: 'Frutiger Light Condensed'!important;
    font-size: 1em;
}
.bg-white {
    background: #fff;
    padding-bottom: 50px;
}
.action-btn {
    --border-radius: 0;
    font-family: 'Frutiger Bold'!important;
    --color: #66af24;
    --ion-color-contrast: #66af24!important;
    --color-activated: #77787b;
    --color-focused: #77787b;
    --padding-top: 20px;
    --padding-bottom: 20px;
}
