<ion-header>
  <ion-toolbar color="medium">
    <ion-title>
      <img src="../../assets/images/manage-parking-head.png" alt=""><br>
      Parklätze verwalten
    </ion-title>
    <ion-buttons class="menu" slot="end" (click)="presentModal()">
      <ion-icon name="menu"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf='parkings'>
    <ion-item *ngFor="let parking of parkings" button detail="false">
      <ion-label padding-vertical>
        <h2>{{ parking.parkplatz }}</h2>
        <h3>{{ parking.strab }}. {{ parking.haus }}-{{ parking.plz }} {{parking.ort}}</h3>
      </ion-label>
      <ion-button routerLink="/tabs/manage/manage-detail/{{ parking.id }}" routerDirection="forward" class="edit">
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-button>
      <ion-button class="del" (click)="deleteParking(parking.id)">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-label *ngIf='!parkings'>No data!</ion-label>
  </ion-list>


</ion-content>
<div class="bg-white">
  <ion-button color="medium" expand="block" size="large" class="action-btn" routerLink="/tabs/manage/manage-detail"
    routerDirection="forward">Parkplatz hinzufügen</ion-button>
</div>