<ion-header>
  <ion-toolbar color="medium">
    <ion-title>
      <img src="../../assets/images/profile-head.png" alt=""><br>
      Profil bearbeiten
    </ion-title>
    <ion-buttons class="menu" slot="end" (click)="presentModal()">
      <ion-icon name="menu"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label>Nutzung</ion-label>
    <ion-input>Wählen (Privat / Gewerblich)</ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Anrede</ion-label>
    <ion-input>Wählen (Herr / Frau)</ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Firma</ion-label>
    <ion-input>Mustermann GmbH</ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Vorname</ion-label>
    <ion-input>Torben</ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Nachname</ion-label>
    <ion-input>Mustermann</ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Straße</ion-label>
    <ion-input>Mustermann-Str.</ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Haus-Nr.</ion-label>
    <ion-input>12</ion-input>
  </ion-item>
  <ion-item>
    <ion-label>PLZ</ion-label>
    <ion-input>52064</ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Ort</ion-label>
    <ion-input>Musterort</ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Telefon</ion-label>
    <ion-input>+49 241 999 888 666</ion-input>
  </ion-item>
  <ion-item>
    <ion-label>E-Mail</ion-label>
    <ion-input>info@mustermann.de</ion-input>
  </ion-item>

</ion-content>