<ion-header>
  <ion-toolbar color="medium">
    <ion-title>
      <img src="../../assets/images/false-parking-head.png" alt=""><br>
      Falschparker verwalten
    </ion-title>
    <ion-buttons class="menu" slot="end" (click)="presentModal()">
        <ion-icon name="menu"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <ion-item>
        <ion-label padding-vertical>
          <h2>Parkplatz 009</h2>
          <h3>Franzstr. 48, D-52064 Aachen</h3>
        </ion-label>
        <ion-button routerLink="/tabs/false/false-detail" routerDirection="forward">
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-label padding-vertical>
          <h2>Parkplatz 010</h2>
          <h3>Franzstr. 48, D-52064 Aachen</h3>
        </ion-label>
        <ion-button routerLink="/tabs/false/false-detail" routerDirection="forward">
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-label padding-vertical>
          <h2>Parkplatz 011</h2>
          <h3>Franzstr. 48, D-52064 Aachen</h3>
        </ion-label>
        <ion-button routerLink="/tabs/false/false-detail" routerDirection="forward">
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-label padding-vertical>&nbsp;</ion-label>
      </ion-item>
      <ion-item>
        <ion-label padding-vertical>&nbsp;</ion-label>
      </ion-item>
    </ion-list>
    

</ion-content>
<div class="bg-white">
<ion-button color="medium" expand="block" size="large" class="action-btn" routerLink="/tabs/false/false-detail" routerDirection="forward">Falschparker erfassen</ion-button>
</div>
